body {
    background-color: #FFF8DC;
    color: #000;
    background-image: url(../images/yellow-circles.svg);
    background-size: 800px 800px;
    background-position: left -440px top -240px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    color: #F3CB02;
}

/*#logo {*/
/*	width: 50px;*/
/*	height: 50px;*/
/*}*/

#eventname {
    color: #F3CB02;
    font-size: 64px;
}

#sessionname {
    color: #F3CB02;
    font-size: 64px;
}

#luckyperson {
    font-size: 64px;
    text-align: center;
    margin-top: 250px;
}

#btn {
    background-color: #ddd;
    text-align: center;
    width: 350px;
    height: 120px;
	font-size: 48px;
	margin-top: 250px;
}
